<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :image, label: "Upload an image" %>
    <%= f.association :attraction, as: :select, prompt: "Select an attraction." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
