<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.user.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Attraction:</strong>
  <% if @review.attraction_id != nil %><%= @review.attraction.name %> <% else %> <%= "(No associated attraction)" %><% end %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
